.recipe__btn {
    background: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: var(--secondary-color);
    padding: 1rem;
    transition: all .1s ease-in-out;
}

.recipe__btn:hover {
    background: var(--primary-hover-color);
    cursor: pointer;
    transform: scale(1.05);
}