.menu__link {
    color: var(--header-link-color);
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: uppercase;
}

.menu__link--active {
    color: var(--menu-link-active-color);
    font-weight: bold;
}

.menu__link:last-child {
    margin-right: none;
}

.menu__link:hover {
    text-decoration: underline;
}
